
  .message-box {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .message-avatar {
    border-radius: 50%;
    width: 80px;
    height: 80px;
  }
  
  .message-avatar > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .message-content {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }
  
  .message-content > h2 {
    margin: 0;
    padding: 0;
  }
  
  .message-content > p {
    margin: 0;
    padding: 0;
  }